<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h3>
      <span>Criar/Editar Evento</span>
    </h3>
  </div>
</md-toolbar>

<md-card>
  <md-content class="md-padding">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Nome {{ vm.teste }}</label>
      <input ng-model="user.firstName">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Descrição</label>
      <input ng-model="theMax">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Data</label>
      <md-datepicker ng-model="user.submissionDate"></md-datepicker>
    </md-input-container>


    <div class="container-contadores">
      <a class="item-contador" href="/convidados">
        <div class="number-cont">
          <small class="number">5</small>
        </div>
        <span>Convidados</span>
      </a>

      <a class="item-contador" href="/contribuicoes">
        <div class="number-cont">
          <small class="number">10</small>
        </div>        
        <span>Contribuições</span>
      </a>

    </div>

    <md-button class="md-raised md-primary">Salvar</md-button>
  </md-content>
</md-card>


<!-- <md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Contribuições</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Nome</label>
      <input ng-model="user.firstName">
    </md-input-container>

    <md-button class="md-raised md-primary">Inserir Contribuição</md-button>
  </md-content>
</md-card>


<md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Convidados</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding">
    <md-input-container class="md-block" flex-gt-sm>
      <label>E-mail</label>
      <input ng-model="user.firstName">
    </md-input-container>

    <md-button class="md-raised md-primary">Inserir Convidado</md-button>
  </md-content>
</md-card> -->