<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h3>
      <span>Organize seu evento</span>
    </h3>
  </div>
</md-toolbar>

<md-card>
  <md-content class="md-padding">
    <md-input-container class="md-block" flex-gt-sm>
      <label>E-mail</label>
      <input ng-model="usuario.email">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Senha</label>
      <input ng-model="usuario.senha">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="efetuarLogin()">Efetuar Login</md-button>
  </md-content>
</md-card>