
  <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs>

    <md-tab label="Participando">
      <md-content class="md-padding">
        <md-content>
          <md-list class="md-list-home" flex>
            <md-list-item class="md-3-line" ng-repeat="item in eventos" ng-click="null">
              <div class="md-list-item-text date" layout="column">
                <h1>{{ retornaDiaData(item.data) }}</h1>
                <small>{{ retornaMesData(item.data) }}</small>
              </div>
              <div class="md-list-item-text" layout="column">
                <h3>{{ item.nome }}</h3>
                <p>{{ item.descricao }}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-content>
    </md-tab>


    <md-tab label="Organizando">
      <md-content class="md-padding">
        <md-content>
          <md-list class="md-list-home" flex>
            <md-list-item class="md-3-line" ng-repeat="item in eventosOrganizando" ng-click="null">
              <div class="md-list-item-text date" layout="column">
                <h1>{{ retornaDiaData(item.data) }}</h1>
                <small>{{ retornaMesData(item.data) }}</small>
              </div>
              <div class="md-list-item-text" layout="column">
                <h3>{{ item.nome }}</h3>
                <p>{{ item.descricao }}</p>
              </div>
            </md-list-item>

            <md-button class="md-primary md-fab md-fab-bottom-right" href="/evento">+</md-button>
          </md-list>
        </md-content>
      </md-content>
    </md-tab>

  </md-tabs>
