.md-fab {
  font-size: 24px;
}

md-list-item._md-button-wrap>div.md-button:first-child {
  margin-bottom: 10px;
  width: 90%;
  border-radius(5px);
  border: 1px solid #ccc;
}

md-list-item._md-button-wrap>div.md-button:first-child .md-list-item-inner {
  // background: red;
}


md-list {
  margin-top: 43px;
}

md-tabs.md-default-theme md-tabs-wrapper, md-tabs md-tabs-wrapper {
  background: #fff;
}

md-tabs-wrapper {
  width: 100%;
  position: fixed;
  z-index: 999;
}



.date
  // background: #ccc;

  h1
    font-size: 25px;
    line-height: 110%;

  small
    font-size: 9px;
    line-height: 115%;  
    display: block;